.resource-list{
    display: flex;
    //flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    gap: 1rem; // spacing mellom tab-elementer i nav (asn)

    li{
        a{
            padding: 1em 3em; //endret fra rem til em 
        }
    }
}