@media only screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        //gap: 0.6rem;
    }

    .tab:hover {
        background-color: $white;
        a {color: $dark-blue; }
    }

    .tab-content {
        padding: 2.8rem;
    }
}