
// Testet media queries for å gjøre innholdet responsivt med koden under
// Etter samtale med Kjell-Magne, ble vi egentlig enige om å lage all scss kode by default som "mobile first"

@media only screen and (min-width: 768) and (max-width: 1006) {
    .resource-list{
        flex-grow: 1;
    }
}



@media only screen and (min-width: 1006px) {
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
    }

    .resource-list{
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
    }

    .tab:hover {
        background-color: $white;
        a {color: $dark-blue; }
    }

    .tab-content {
        padding: 2.8rem;
        height: 243px
    }
}