
// Testet media queries for å gjøre innholdet responsivt med koden under
// Etter samtale med Kjell-Magne, ble vi egentlig enige om å lage all scss kode by default som "mobile first"

// @media only screen and (max-width: 768px) {
//     .resource-list{
//         display: flex;
//         flex-direction: column;
//     }

//     nav ul {
//         display: flex;
//         flex-direction: column;
//     }
// }

@media only screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        gap: 0.6rem;
    }

    .resource-list{
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
    }

    .tab:hover {
        background-color: $white;
        a {color: $dark-blue; }
    }

    .tab-content {
        padding: 2.8rem;
    }
}