@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

//Colors
$white: #fff;
$grey: #E1E5EE;
$savoy-blue: #58699D;
$dark-blue: #2A324B;

//Fonts
$font: 'Montserrat', sans-serif;

//document setup
$root-size: calc(1em + 1vw); 
$document-width: 1260px;
$document-gutter: 1.5rem;

@mixin flexy($display, $direction, $justify-content) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify-content;
}

* { 
    box-sizing: border-box;
    margin: 0;
 }

html { font-size: $root-size; }

body {
    font-family: $font;
    max-width: $document-width;
    padding-left: $document-gutter;
    padding-right: $document-gutter;
    margin: auto;
    min-height: 100vh;
    background-color: $grey;
    @include flexy(flex, column, center);
}

h2 { font-size: 1em; }

p { font-size: 0.6em;}

nav ul {
    @include flexy (flex, column, flex-start);
    list-style-type: none;
    font-weight: 700;
    padding-left: 0;
}

.tab {
    background-color: $dark-blue;
    color: $white;
    padding: 0.6rem;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    
    a {
        font-size: 0.65em;
        color: $white;
        text-decoration: none;
    }
}

.tab-active {
    background-color: $white;
    color: $dark-blue;

    a { color: $dark-blue; }
}

.tab-content {
    display: none;
    background-color: $white;
    padding: 2rem;
    li {
        font-size: 0.65em;
    }
}

.content-active {
    @include flexy(flex, column, flex-start);
    row-gap: 0.5rem;
}

h2 {
    color: $dark-blue;
}

@media only screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        gap: 0.6rem;
    }

    .tab:hover {
        background-color: $white;
        a {color: $dark-blue; }
    }

    .tab-content {
        padding: 2.8rem;
    }
}